{{errorUrl}}
<nav ngClass = "parent-menu" *ngIf="!errorUrl">
    
    <ul >
       <li><a routerLink="/country" routerLinkActive="active">Country</a></li>
       <li><a routerLink="/person" routerLinkActive="active">Person</a></li>
    </ul> 
  </nav>  
  <div ngClass = "parent-container">	
    <router-outlet></router-outlet>	
    {{message | json }}
  </div>